<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>#1</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <p>วาดรูปสามเหลี่ยม</p>
        <form action="/" method="POST">
            <label>สี</label>
            <input type="text" name="co"><br>
            <label>ความยาว</label>
            <input type="text" name="le"><br>
            <button type="submit" value="submit">วาด</button>
        </form>
    </body>
</html>